{% extends 'main.html.twig' %}
{% block main_content %}
    <div class="jumbotron">
        <h1>Contao DCA Generator</h1>
        <p><a class="btn btn-primary btn-lg" href="dca" role="button">DCA Generator</a>
        <a class="btn btn-primary btn-lg" href="parametre" role="button">Configurations</a></p>
    </div>

{% endblock %}